body {
  margin: 0;
  padding: 0;
  background-color: rgb(167, 168, 161);
}

main {
  text-align: center;
}

img {
  width: 30%;
  height: 30%;
  margin: 15px;
}
section{
  border: solid 1px black;
  border-radius: 5px;
margin: 2px 5px 0px 5px;

}