* {
  margin: 0;
  padding: 0;
  background-color: rgba(245, 245, 220, 0.351);

}

.componentes{
  text-align: center;
  border: 1px solid black;
  margin-top: 55px;
  margin-left: 225px;
  width: 500px;
  height: 500px;
}
header > img{
  margin-top: 100px;
}